<div class="row animated fadeIn">
    <!-- First section -->
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0"> Doctor: {{ doctor.name }}</h3><br>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="updateDoctor(f)">
                        <div class="form-group">
                            <label>User Name</label>
                            <input [(ngModel)]="doctor.name" name="name" type="text" class="form-control" placeholder="Enter Username" required>
                        </div>

                        <div class="form-group">
                            <label>Hospital</label>
                            <select (change)="changeHospital( $event.target.value )" [(ngModel)]="doctor.hospital" name="hospital_id" class="form-control" required>
                                <option value="">Select hospital...</option>
                                <option *ngFor="let hospital of hospitals" [value]="hospital._id">
                                    {{ hospital.name }}
                                </option>
                            </select>
                        </div>
                        
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <a routerLink="/doctor" class="btn btn-inverse waves-effect waves-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Second section -->
    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Hospital</h4><br>
            <img [src]="hospital.image | image:'hospital'" class="rounded img-fluid">
        </div>
    </div>
    <!-- Third section -->
    <div class="col-md-3">
        <div class="card card-body" *ngIf="doctor._id">
            <h4 class="box-title m-b-0">Doctor</h4><br>
            <img (click)="updatePicture()" [src]="doctor.image | image:'doctor'" class="rounded img-fluid pointer">
        </div>
    </div>
</div>